body {
    background: skyblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
}
h1 {
    font-size: 48px; text-transform: uppercase; letter-spacing: 2px; text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}